body {
	padding: 0; margin: 0;
	background-color: #1f1f1f;
	color: #9e9e9e;
	font-size: small;
}
a { color: #6d9fb6; }

#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 15px; transform: translate(-50%, 0%) }
#unity-container.unity-mobile { left: 50%; top: 15px; transform: translate(-50%, 0%) }
#unity-canvas { background: #131313 }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }

#info-container { position: relative }
#info-control {
	position: absolute;
	left: 50%;
	top: 15px;
	transform: translate(-52%, 0%);
	width: 330px;
	height: 261px;
	background: url('icons_controls.png') no-repeat center
}
#info-footer {
	position: absolute;
	left: 50%;
	top: 315px;
	transform: translate(-50%, 0%);
	width: 330px;
	height: 30px;
	text-align: center;
}

#main-logo { width: 141px; height: 130px; background: url('icons_mainLogo.png') no-repeat center }
