
body {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.4285em;
	color: rgba(0,0,0,.87);
}

.pusher {
	min-height: 100%;
	background: #1b1c1d !important;
}

.contentWrapper {
	min-width: 100%;
	background: #f3f3f3;
	overflow-wrap: break-word;
	color: #464646;
}

.hidden {
	visibility: hidden !important;
}


.contentWrapper table, .contentWrapper th, .contentWrapper td {
	border-width: 1px;
	border-radius: 6px;
	border-color: #aaa;
	border-spacing: 3px 2px;
}
.contentWrapper td, .contentWrapper th {
	border-width: 1px;
	border-color: #bbb;
	padding: 5px 13px;
}
.contentWrapper th, .contentWrapper td:nth-of-type(1) {
	background-color: #ccc;
}
.contentWrapper td {
	background-color: #e0e0e0;
}
.contentWrapper h1 {
	padding-top: 30px;
	padding-bottom: .21428571rem;
	border-bottom: 1px solid rgba(34,36,38,.15);
	margin-bottom: 25px;
}

